<!DOCTYPE html>
<html>
 
     <head>
         <title> --Formulario de contato--</title>
         <meta charset="utf-8" />
         <link href="projeto.css" rel="stylesheet" media="all" />
         <script src="Javascript.js"></script>

      </head>

   <body>
   	   <form name="Nome">
   	   	    <h1> Entre em contato </h1>
   	<input type="text" id="nomeId" placeholder="ex: Maviel tavares" size="25" required="" name=nome/>
    <label for="Nome">Nome</label>
    
    <p></p>
    
       <form name="phone">
    <input type="tel" id="telId" placeholder="(xx) x xxxx-xxxx" size="25" maxlength="11" required="" name="telefone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
    <label for="fone">Telefone</label>
    
    <p></p>
       
       <form name="email">
    <input type="email" id="emailId" placeholder="igord@gmail.com" size="25" required="" name="Email"/>
    <label for="email">E-mail</label>
    
    <p></p>
    
    <textarea placeholder="Deixe sua opinião" required="" Maxlength="130"></textarea>

    <p></p>

    <input type="submit" class="enviar" onclick="Enviar()" value="Enviar"/></form> 
    
    <p></p>
    </body>

</html>

css 


body {
    padding:  0;
    margin:  0;
}

form {
	font-family:  verdana,tahoma,sans-serif;
	font-size:  15px;
    background-color:  #CC3300;
    max-width:  500px;
}

h1 {
	margin-bottom: 20px;
	margin-left:  20px;
	color:  #66ffff;
	text-shadow:  5px 5px 5px black;
}

input,textarea {
	wdth: 200px;
	padding: 10px;
	color:  black;
	margin-left: 20px;
	margin-top: 10px;
	-webkit-border-radius:  5px;
	-moz-border-radius: 5px;
	border:  2px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
	border-color:  #000066;
	box-shadow:  5px 0px #FFFF00;
	background-color: #66FFFF;
    color:  black;
    font-weight: bold;
}

.enviar {
	background-color: #66FFFF;
	height: 40px;
	width:  100px;
	font-weight:  bold;
	border-radius:  5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border:  1px solid;
	color:  black;
}

textarea {
	width: 400px;
	height:  120px;
	line-height: 20px;
	max-width:  400px;
	
}

javascript 
function enviar(){
	var nome = document.getelementById("nomeId")
	if (nome.value != ""){
		alert("Obrigado sr(a)" + nome.value + "os seus dados foram enviados com sucesso!");       
	}
}








